<%- include('header', {pagetitle: 'List of the shepherds'}) -%>
<script>
    function deleteShepherd(shepherdId) {
        if (!confirm('Are you sure?')) {
            return;
        }

        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                showSuccess("Sikeres törlés");
                let resObj = JSON.parse(xhr.responseText);
                const id = resObj["_id"];
                document.getElementById("row-"+id).remove();
            }
        };

        xhr.onerror = function (err) {
            console.log(err);
            showError("Nem sikerült a törlés. Hibaüzenet a konzolon.");
        }

        xhr.open('DELETE', '/shepherd/delete/'+shepherdId, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send();
    }

    function showError(msg) {
        document.getElementById('success-alert').style.display = 'none';
        let alert = document.getElementById('error-alert');
        alert.style.display = 'block';
        alert.innerHTML = msg;
    }

    function showSuccess(msg) {
        document.getElementById('error-alert').style.display = 'none';
        let alert = document.getElementById('success-alert');
        alert.style.display = 'block';
        alert.innerHTML = msg;
    }
</script>
<div class="container" style="padding: 20px">

    <h1>List of the shepherds</h1>
    <p>Here you can manage the shepherds.</p>
    <p style="font-style: italic">Majd tervezek csinálni egy minimális authentikációt is, úgy hogy csak simán egy alert fogja kérdezni a beégetett jelszót.</p>

    <a style="margin-top: 10px" class="btn btn-outline-primary" href="/shepherd/new">Add a new shepherd</a>
    <a style="margin-top: 10px; margin-left: 10px" class="btn btn-outline-primary" href="/animals/list">Manage
        animals</a>
    <div class="row" style="margin-top: 20px">
        <div class="col-10">
            <input type="text" style="width: 100%" name="search" class="form-control" id="search"
                   placeholder="Search for name and area">
        </div>
        <div class="col-2">
            <button class="btn btn-outline-primary" style="width: 100%">Search</button>
        </div>
    </div>

    <div style="margin-top: 20px">
        <table class="table table-hover" style="text-align: center;">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Area</th>
                <th scope="col">Animals</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <% shepherds.forEach(function(s){ %>
                <tr id="row-<%= s._id %>">
                    <td><%= s.name %></td>
                    <td><%= s.area %></td>
                    <td>TODO</td>
                    <td style="text-align: center" class="row">
                        <div class="col-3">&nbsp;</div>
                        <div class="col-2">
                            <a class=" btn  btn-sm btn-outline-info" href="/shepherd/details/<%= s._id %>">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                    <path fill-rule="evenodd"
                                          d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="col-2">
                            <a class=" btn  btn-sm btn-outline-primary" href="/shepherd/update/<%= s._id %>">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="col-2">
                            <button type="button" class=" btn  btn-sm btn-outline-danger"
                                    onclick="deleteShepherd('<%= s._id %>')">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd"
                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="col-3">&nbsp;</div>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>


</div>

<%- include('footer') -%>

